
@media (max-width: 600px) {
    .local-video {
        /*padding: 5px;*/
        /*margin:10px;*/
        position: relative;
        border: 1px solid #cddfe7;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        width: 100%;
        /*height: 18em;*/
        text-align: center;
        /*margin-top:15px;*/
    }

    .remote-video {
        /*padding:5px;*/
        /*margin:10px;*/
        position: relative;
        border: 1px solid #cddfe7;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        width: 100%;
        /*height: 18em;*/
        text-align: center;
        /*right: 0px;*/
        /*margin-top:15px;*/
    }

    canvas {
        right: 0em!important;
        margin-top: -18em;
        position: absolute;
        height: 18em;
    }
}

@media (min-width: 600px) {
    canvas {
        right: 12em !important;
        margin-top: -19em;
        position: absolute;
        height: 18em;
    }

    .local-video {
        /*margin:10px;*/
        position: relative;
        border: 1px solid #cddfe7;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        /*width: 52%;*/
        height: 18em;
        text-align: center;
        /*margin-top:15px;*/
    }

    .remote-video {
        /*margin:10px;*/
        position: relative;
        border: 1px solid #cddfe7;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        /*width: 52%;*/
        height: 18em;
        text-align: center;
        /*right: 0px;*/
        /*margin-top:15px;*/
    }
}

.loadCam-btn {
    position: relative;
    bottom: 0px;
}

.my-btn {
    display: inline-block;
    color: #fff;
    letter-spacing: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: double 2px transparent;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

/*canvas {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index:1*/
/*}*/

.iexp-container {
    /*margin-top: 10em;*/
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.rank-img {
    width:100%;
    height: 100%;
}
embed {
    max-width: 100%;
    width: 100%;
    height: 35em;
    overflow:hidden !important;
}

.content-wrapper {
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
    text-align: center;
}

.title-class {
    margin: 20px 10px 10px 10px;
    /*padding: 10px;*/
    text-transform: uppercase;
    /*display: inline-block;*/
    color: #ffffff;
    letter-spacing: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 12px;
    /*line-height: 46px;*/
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: double 2px transparent;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

.centralized {
    text-align: center;
}

.pr-stmt {
    text-transform: uppercase;
    color: #3395ff;
}

.prepad {
    background: #d3d3d340;
    white-space:pre-wrap;
    padding: 0px 2px 0px 20px !important;
    /*border: 0px #888 !important;*/
    text-align: left !important;
}

.fb-centralized {
    margin: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.chapter{
   color: #4c00ff;
    /*border: 1px solid black;*/
}

.completion-date{
    color: #4c00ff;
}

.german-header {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
}

.workout-img {
    height: 35em;
}

.workout-video {
    display:flex;
    /*height: 400px;*/
    flex-wrap: wrap;
}

#workout-videos {
    display: flex;
    flex-wrap: wrap;
}

#daily-workouts {
    display: flex;
    flex-wrap: wrap;
}

.active-img {
  animation: make_bigger 1s ease;
  /*width: 500px;*/
  /*height: 201px;*/
}
@keyframes make_bigger {
  from { width: 200px; }
  to { width: 500px; }
}
.non_active-img {
  animation: make_smaller 1s ease;
  /*width: 127px;*/
  /*height: 128px;*/
}
@keyframes make_smaller {
  from { width: 500px; }
  to { width: 200px; }
}
/*.img-container {*/
/*  width: 200px;*/
/*  height: 201px;*/
/*}*/

#myTab {
    justify-content: center;
}

#myTabContent {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px;
    padding: 10px;
    /*display: none;*/
}

.nav-tabs .nav-link.active {
    font-weight: 900;
    color: #0043ff;
    background-color: #eae4e4;
}

.nav-link {
    font-size: larger;
    color: #4a57de;
}


